body .Agda {
    color: #50fa7b
}

/* Aspects. */
.Agda a.Comment       { color: #6272a4 }
.Agda a.Background    {}
.Agda a.Markup        { color: #6272a4 }
.Agda a.Keyword       { color: #ff79c6 }
.Agda a.String        { color: #f1fa8c }
.Agda a.Number        { color: #ff5555 }
.Agda a.Symbol        { color: #f8f8f2 }
.Agda a.PrimitiveType { color: #bd93f9 }
.Agda a.Pragma        { color: #ff79c6 }
.Agda a.Operator      {}

/* NameKinds. */
.Agda a.Bound                  { color: #f8f8f2 }
.Agda a.Generalizable          { color: #50fa7b }
.Agda a.InductiveConstructor   { color: #bd93f9 }
.Agda a.CoinductiveConstructor { color: #bd93f9 }
.Agda a.Datatype               { color: #bd93f9 }
.Agda a.Field                  { color: #bd93f9 }
.Agda a.Function               { color: #50fa7b }
.Agda a.Module                 { color: #f8f8f2 }
.Agda a.Postulate              { color: #bd93f9 }
.Agda a.Primitive              { color: #bd93f9 }
.Agda a.Record                 { color: #bd93f9 }

/* OtherAspects. */
.Agda a.DottedPattern        {}
.Agda a.UnsolvedMeta         { color: #f8f8f2; background: yellow         }
.Agda a.UnsolvedConstraint   { color: #f8f8f2; background: yellow         }
.Agda a.TerminationProblem   { color: #f8f8f2; background: #FFA07A        }
.Agda a.IncompletePattern    { color: #f8f8f2; background: #F5DEB3        }
.Agda a.Error                { color: red;   text-decoration: underline }
.Agda a.TypeChecks           { color: #f8f8f2; background: #ADD8E6        }
.Agda a.Deadcode             { color: #f8f8f2; background: #808080        }
.Agda a.ShadowingInTelescope { color: #f8f8f2; background: #808080        }

/* Standard attributes. */
.Agda a { text-decoration: none }
/* .Agda a[href]:hover { background-color: #B4EEB4 } */
/* .Agda [href].hover-highlight { background-color: #B4EEB4; } */

html {
    background-color: #282a36;
}
